@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

* {
  box-sizing: border-box;
}
html {
  @media (min-width: 90rem) {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
}

body {
  display: flex;
  justify-content: center;
}

.cards__container {
  @media (min-width: 90rem) {
    display: flex;
    justify-content: center;
  }

  h1 {
    padding-left: 3.06rem;
    margin-bottom: 1.56rem;
    margin-top: 2rem;
    color: #f2f2f2;
    font-family: 'Big Shoulders Display', cursive;
    font-size: 2.5rem;
  }

  p {
    line-height: 1.5rem;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 1rem;
    color: hsla(0, 0%, 100%, 0.75);
    padding-right: 3rem;
    padding-left: 3.03rem;
    margin-top: 1.56rem;
  }

  button {
    margin-left: 3rem;
  }

  .card__sedan,
  .card__suv,
  .card__luxury {
    height: 27rem;
    width: 20rem;
  }

  .card__sedan {
    @media (min-width: 90rem) {
      border-bottom-left-radius: 0.5rem;
    }
    background-color: #e28625;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
  }
  .card__suv {
    @media (min-width: 90rem) {
      border-radius: 0.5rem;
    }
    background-color: #006971;
  }
  .card__luxury {
    @media (min-width: 90rem) {
      border-top-right-radius: 0.5rem;
    }
    background-color: #004140;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
  }
  .card-img {
    padding-top: 3rem;
    padding-left: 3rem;
  }
  .learn-btn-sedan,
  .learn-btn-suv,
  .learn-btn-luxury {
    -webkit-border-radius: 5rem;
    -moz-border-radius: 5rem;
    border-radius: 5rem;
    height: 3rem;
    line-height: 3rem;
    font-family: Arial;
    width: 9rem;
    font-size: 1rem;
    font-weight: 100;
    padding: 0;
    background-color: #f2f2f2;
    border: none;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
  }
  .learn-btn-sedan {
    color: #e28625;
  }
  .learn-btn-suv {
    color: #006971;
  }
  .learn-btn-luxury {
    color: #004140;
  }

  .learn-btn-sedan:hover,
  .learn-btn-suv:hover,
  .learn-btn-luxury:hover {
    color: #f2f2f2;
    border: solid #f2f2f2 0.06rem;
    -webkit-border-radius: 5rem;
    -moz-border-radius: 5rem;
    border-radius: 5rem;
    text-decoration: none;
  }
  .learn-btn-sedan:hover {
    background: #e28625;
  }
  .learn-btn-suv:hover {
    background: #006971;
  }
  .learn-btn-luxury:hover {
    background: #004140;
  }
}
